<img id="refresh_folders_button" src="/icons/refresh.svg" alt="_new" tabindex="0" class="button">
<img id="media-options-button" src="/icons/tune.svg" alt="_new" tabindex="0" class="button">
<img id="search-popup-open" src="/icons/search.svg" alt="_new" tabindex="0" class="button">

<label tabindex="0" for="upload-input"><img src="/icons/upload_file.svg" alt="Subir archivo"></label>

<!-- <button type="button" id="complete-path-button" style="display: none;" tabindex="0">Ruta corta</button> -->

<button type="button" class="off" id="smooth-begin" tabindex="0">Suavizar inicio</button>
<button type="button" class="off" id="smooth-end" tabindex="0">Suavizar final</button>