<div class="popup hidden fill-size border-box" id="upload-progress-popup">
    <span class="info">0/0</span>
    <div class="progress-bar center-size border-box">
        <div class="progress-bar-fill"></div>
    </div>

    <button class="cancel">Cancelar</button>
</div>

<div class="popup hidden fill-size border-box" id="media-options-popup">
    <div class="center-box">
        <img class="close" src="/icons/close.svg" alt="_new">
        
        <input type="file" accept="image/*,video/*,audio/*" id="show-uploaded-input" style="display: none;">
        <label for="show-uploaded-input" style="width: fit-content; display: block; margin: 10px auto;" class="button-aspect">Mostrar inmediatamente</label>

        <p class="small">
            Esta opción permite subir y mostrar de manera inmediata.
        </p>

        <h2>Transformación</h2>

        <div class="grid-layout" style="--cols:10;">
            <h3 style="--use-columns:9; margin: 0;">Reiniciar valores al cambiar</h3>
            <input type="checkbox" checked class="reset-on-change-input">
        </div>

        <h3>Eje X</h3>
        <div class="grid-layout" style="--cols:10;">
            <input type="range" step="0.01" min="-1" max="1" value="0" class="x-input">
            <span class="percent-label" contenteditable="true">0%</span>
            <img data-value="0" src="/icons/refresh.svg" class="reset-value-button" alt="_new">
        </div>

        <h3>Eje Y</h3>
        <div class="grid-layout" style="--cols:10;">
            <input type="range" step="0.01" min="-1" max="1" value="0" class="y-input">
            <span class="percent-label" contenteditable="true">0%</span>
            <img data-value="0" src="/icons/refresh.svg" class="reset-value-button" alt="_new">
        </div>

        <h3>Rotación</h3>
        <div class="grid-layout" style="--cols:10;">
            <input type="range" step="0.01" min="0" max="360" value="0" class="rotation-input">
            <span data-suffix="°" contenteditable="true" data-digits="2" class="value-label">0°</span>
            <img data-value="0" src="/icons/refresh.svg" class="reset-value-button" alt="_new">
        </div>

        <div class="grid-layout align-items-center" style="--cols:10;">
            <h3 style="--use-columns:7;">Escala</h3>
            <input style="--use-columns:2;" type="number" min="0" step="0.01" value="1" class="scale-input clear-on-click only-on-change">
            <img style="--use-columns:1;" data-value="1" src="/icons/refresh.svg" class="reset-value-button" alt="_new">
        </div>
        
        <h2>Imagen</h2>

        <h3>Opacidad</h3>
        <div class="grid-layout" style="--cols:10;">
            <input type="range" step="0.01" min="0" max="1" value="1" class="opacity-input">
            <span class="percent-label">0%</span>
            <img data-value="1" src="/icons/refresh.svg" class="reset-value-button" alt="_new">
        </div>

        <h3>Desenfoque</h3>
        <div class="grid-layout" style="--cols:10;">
            <input type="range" step="0.01" min="0" max="1" value="0" class="blur-input">
            <span class="percent-label">0%</span>
            <img data-value="0" src="/icons/refresh.svg" class="reset-value-button" alt="_new">
        </div>

        <h3>Brillo</h3>
        <div class="grid-layout" style="--cols:10;">
            <input type="range" step=".01" min="0" max="2" value="1" class="brightness-input">
            <span class="percent-label">0%</span>
            <img data-value="1" src="/icons/refresh.svg" class="reset-value-button" alt="_new">
        </div>

        <h3>Contraste</h3>
        <div class="grid-layout" style="--cols:10;">
            <input type="range" step=".01" min="0" max="2" value="1" class="contrast-input">
            <span class="percent-label">0%</span>
            <img data-value="1" src="/icons/refresh.svg" class="reset-value-button" alt="_new">
        </div>

        <h3>Saturación</h3>
        <div class="grid-layout" style="--cols:10;">
            <input type="range" step=".01" min="0" max="2" value="1" class="saturation-input">
            <span class="percent-label">0%</span>
            <img data-value="1" src="/icons/refresh.svg" class="reset-value-button" alt="_new">
        </div>




        <h2>Audio</h2>

        <h3>Volumen</h3>
        <div class="grid-layout" style="--cols:10;">
            <input style="--use-columns:8;" type="range" step="0.01" min="0" max="1" value="1" class="volume-input">
            <span style="--use-columns:2;" class="percent-label">0%</span>
        </div>
        
    </div>
</div>


<div class="popup hidden fill-size border-box" id="pick-folder-popup">
    <h3>Seleccione la carpeta en la que quiere subir los archivos.</h3>

    <div class="folders grid-layout" style="--spacing:10px; --cols:1;"></div>
    
    <button class="cancel">Cancelar</button>
</div>

<div id="loading-popup" class="popup fill-size border-box">
    <div class="placeholder-spinner"></div>
</div>

<div id="search-popup" style="padding: 10px;" class="popup hidden fill-size border-box">

    <div class="center-box vbox fill-height jc-space-btwn" style="position: relative;">

        <div class="grid-layout vbox" style="--cols:10; align-items: center;">
            <input style="--use-columns:9;" type="text" placeholder="Buscar un recurso..." class="search-input">
            <img src="/icons/search.svg" class="search-button clickable">
        </div>

        <div class="options-container">
            <button class="match-accents off" onclick="if(this.classList.contains('off')) {this.classList.remove('off')} else {this.classList.add('off')}">Concordar mayúsculas</button>
            <button class="match-uppercase off" onclick="if(this.classList.contains('off')) {this.classList.remove('off')} else {this.classList.add('off')}">Concordar tildes</button>
            <input type="text" placeholder=".png, .jpeg, etc..." style="width: 30%;" class="extension">
        </div>

        <main class="results-container max-flex-grow" style="overflow-y: auto;">

        </main>

        <button class="close">Cerrar</button>
    </div>

</div>