#bottom-panel {
    position: fixed;
    display: flex;

    box-sizing: border-box;
    padding: 10px;

    background-color: var(--background);

    flex-direction: column;
    align-items: center;

    left: 50%;
    bottom: 0;

    width: var(--centered-width-nospace);
    height: fit-content;

    transform: translate(-50%);
    transition: height 200ms ease;
}

#bottom-panel > * {
    width: 100%;
    display: flex;

    flex-direction: row;
    flex-grow: 1;

    align-items: center;
    justify-content: space-between;
}

#bottom-panel .button {
    cursor: pointer;
    height: 38px;
}


#volume-range-input {
    flex-grow: 1;
}

#current-time-range-input {
    width: 50%;
}

#current-time-text {
    width: 45px;
    box-sizing: border-box;
    max-width: fit-content;
    border: none;
    padding: 0;
}

#sub-controls-container img.button {
    cursor: pointer;
    width: auto;
    height: 100%;
    user-select: none;
    -webkit-user-select: none;
}

#current-media-name {
    flex-grow: 0.95;

    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;

    user-select: none;
}

#current-time-text:focus {
    outline: 1px solid gray;
    border-radius: 6px;
}


@media (max-width:368px) {
    #duration-text, #current-time-text {
        font-size: 4vw;
    }
}
