#search-popup .close {
    display: block;
    width: 30%;
    margin: 0 auto;
}

#search-popup .results-container .resource {
    cursor: pointer;
    width: 100%;
    max-width: 100%;
    
    padding: 14px 0;
    border-bottom: 1px solid gray;
    
    text-wrap: wrap;
    hyphens: auto;

    overflow-wrap: break-word;
    word-break: break-word;
}

#search-popup .results-container {
    padding: 10px;
    padding-top: 0;
}

#search-popup .options-container {
    display: flex;
    gap: 10px;

    overflow-x: auto;
    overflow-y: hidden;

    min-height: 64px;
    box-sizing: border-box;

    padding: 10px;
}

#search-popup .options-container button {
    text-wrap: nowrap;
}