#top-menu-container {
    width: var(--centered-width-nospace);
    padding: 12px 10px;

    box-sizing: border-box;

    height: fit-content;

    margin: 0 auto;

    display: flex;
    flex-direction: row-reverse;

    align-items: center;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;

    gap: 13px;

    position: fixed;

    top: 0;
    left: 0;
    right: 0;

    height: 64px;

    z-index: 50;
    background-color: var(--background);
}

#top-menu-container > img.button {
    width: auto;
    cursor: pointer;
}

body {
    margin-top: 86px !important;
}