#upload-progress-popup, #pick-folder-popup {
    display: flex;

    justify-content: center;
    align-items: center;

    background-color: var(--background);

    flex-direction: column;
    gap: 20px;

    padding: 20px;
    z-index: 200;
}

#upload-progress-popup .info {
    font-size: 18px;
    color: #b3b3b3;
}

#pick-folder-popup .folders {
    display: flex;
    flex-direction: column;

    gap: 14px;
    
    width: 100%;
    height: fit-content;

    max-width: 500px;
    max-height: 50%;

    overflow-y: auto;
}